version: '2'

volumes:
  craftcms-data:
  mariadb-data:
  craftcms-logs:

services:
  web:
    image: wyveo/craftcms-docker:craft2
    ports:
      - 80:80
    volumes:
      - craftcms-logs:/var/log
      - craftcms-data:/usr/share/nginx
    links:
      - mariadb
      - redis
    # env vars are replaced in /craft/config
    environment:
      # Set locale to UTF-8 (https://oncletom.io/2015/docker-encoding/)
      LANG: C.UTF-8

      # REDIS is linked
      REDIS_HOST: redis

      # DB is linked
      DB_HOST: mariadb
      DB_NAME: craft
      DB_PORT: 3306
      DB_USER: craft
      DB_PASS: secret

  mariadb:
    image: mariadb:10.3.8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: craft
      MYSQL_PASSWORD: secret
      MYSQL_DATABASE: craft
    volumes:
      # Persistent data
      - mariadb-data:/var/lib/mysql/data

  redis:
    image: redis:4.0.11-alpine
    volumes:
      - /data:/data
